.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  /* Background color similar to the image */
  font-family: 'Helvetica Neue', sans-serif;
  /* Font similar to the image */
}

/* Logo */
.home img {
  width: 600px;
  height: auto;
  margin-bottom: 2rem;
}

/* Heading */
h1 {
  font-size: 2.5rem;
  color: #06357A;
  margin-bottom: 1rem;
}

/* Button */
button {
  background-color: #03B8AA;
  color: #06357A;
  padding: 1rem 2rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1.2rem;

}
